.dcntr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: black;
    color: white;
    margin: auto;
}

.add-new {
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
    letter-spacing: 0.1rem;
    font-size: 1rem;
    padding: 1rem 3rem;
    transition: 0.2s;
}

.add-new:hover {
    letter-spacing: 0.2rem;
    padding: 1.1rem 3.1rem;
    background: #FF44CC;
    /* Change to your desired color for hover */
    color: #fff;
    /* Change to your desired color for hover */
    cursor: pointer;
    animation: box 3s infinite;
}

.add-new::before {
    content: "";
    position: absolute;
    inset: 2px;
    background: #272822;
}

.add-new span {
    position: relative;
    z-index: 1;
}

.add-new i {
    position: absolute;
    inset: 0;
    display: block;
}

.add-new i::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 80%;
    top: -2px;
    border: 2px solid #FF44CC;
    /* Change to your desired color */
    background: #272822;
    transition: 0.2s;
}

.add-new:hover i::before {
    width: 15px;
    left: 20%;
    animation: move 3s infinite;
}

.add-new i::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 2px;
    left: 20%;
    bottom: -2px;
    border: 2px solid #FF44CC;
    /* Change to your desired color */
    background: #272822;
    transition: 0.2s;
}

.add-new:hover i::after {
    width: 15px;
    left: 80%;
    animation: move 3s infinite;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: #6464FB;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #fff;
}


/* Add your styles for other elements below */

.actions {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.job-det:hover {
    background-color: #fff;
    cursor: pointer;
}

.job-details {
    background-color: #f1f1f1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f8f8;
    color: #333;
}